[build]
  command = "npm run build"
  publish = "dist"
  node_version = "20"

[[redirects]]
  from = "/api/v1/api-docs/*"
  to = "/api/v1/api-docs/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/sw.js"
    [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/firebase-messaging-sw.js"
    [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/firebase-config.js"
    [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/index.html"
    [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/version.json"
    [headers.values]
    Cache-Control = "no-store"

[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
    Cross-Origin-Opener-Policy = "same-origin-allow-popups"
    Cross-Origin-Embedder-Policy = "unsafe-none"
